@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: auto;
    scroll-padding-top: 4rem;
}
body {
    background: radial-gradient(
        rgb(19, 22, 24) 24.5%,
        rgb(12, 9, 4) 66%
    );
    font-family: Signika;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.932);
}

.globalWrapper {
    max-width: 1400px;
    margin: 0 auto;
}


.active {
    color: rgb(255, 162, 22);
}

.bg-card-gradient{
    background: rgb(0,0,0);
background: linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(59,59,59,0.5802696078431373) 48%, rgba(0,0,0,1) 100%);
}
