@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Signika,sans-serif;
}

.text-main{
    color: white;
}

.lineAfter::before{
    content: ' ';
    background-color: orange;
    height: 4px;
    width: 0%;
    margin-bottom: 10px;
    display: block;
    
}